<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="../Dav/static/css/my.css">
    

    <script src="../static/js/my.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  
    <style>
        .myheading{
            color: green;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="color: red ; text-align: center" >Welcome to the Home page</h1>
    <h2 class="myheading">django learning</h2>

    <center>
        <a href="addtwo">sum application</a>
        <a href="multi">Multiplication Application</a>
    </center>

    <p class="textcolor">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur blanditiis est impedit, dolor culpa aliquid harum officia totam repudiandae praesentium fugit provident ducimus amet rem mollitia ex. Officia mollitia velit, ea maiores asperiores accusamus placeat itaque quasi molestiae illum animi consequatur consequuntur. Ullam, repellat cum suscipit eaque architecto expedita qui officiis? Similique ad tempore quaerat eum nulla atque fugiat id ea, quidem iusto alias commodi nisi? Dicta expedita eum animi alias corporis soluta delectus labore nobis exercitationem dolor magni eos architecto deserunt ipsam aperiam, excepturi voluptates sit fugiat, sint ipsum sed ab id deleniti in? Ratione quos esse dolore pariatur.

    </p>
    <button onclick="info()" class="btn btn-primary ">click here</button>
    <img src="../static/images/photo-1468971050039-be99497410af.jpg" width="200" height="120">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  

</body>
</html>