<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sum App</title>
</head>
<body>
    
    <h1 align="center">addition of two number</h1>
    <form action="find_sum" method="post" align="center">
        {% csrf_token %}
        enter 1st value <input type="number" name="a" required><br><br>
        enter 2nd value <input type="number" name="b" required><br><br>
        <button>click here</button>
    </form>
    <h5 align="center">{{result}}</h5>

</body>
</html>